extends ./layout.jade

block content
    .client
        .username
            input(type="text",class="usernameInput username")
            br
            button(id="submitName").coolBtn Submit
        .gameButtons(hidden)
            button(id="btn1").answer1 X
            button(id="btn2").answer2 X
            button(id="btn3").answer3 X
            button(id="btn4").answer4 X
        .waiting(hidden)
            p.waitMSG LOADING...
            p.subMSG Please Wait...