extends ./layout.jade

block content
    .host
        .hostHeader
            h1 GAME NAME
            p Join in at https://TODO-ADD-URL.heroku.com
        .playerList
            ul(id="pList")
        button.startGame.coolBtn START!