extends ./layout.jade

block content
    .host
        .home
            .hostHeader
                h1 GAME NAME
                p Join in at https://TODO-ADD-URL.heroku.com
            .playerList
                ul(id="pList")
            button.startGame.coolBtn START!
        .questionPage(hidden)
            h1.timer 30
            h1.question TEST
            .answers
                .answer1
                    h2 TEST Answer 1
                .answer2
                    h2 TEST Answer 2
                .answer3
                    h2 TEST Answer 3
                .answer4
                    h2 TEST Answer 4
            .progressBar
                img(src="/static/images/noNuke.png").noNukeImg
                .bar
                    .progress
                img(src="/static/images/mushroom_cloud.png").explosion
        .waiting(hidden)
            p.waitMSG LOADING...
            p.subMSG Please Wait...
        .results(hidden)
            h1 Results
            .bar
                .progress.answer1
            .bar
                .progress.answer2
            .bar
                .progress.answer3
            .bar
                .progress.answer4
        .news
            p.newsText INSERT NEWS REPORT
            img(src="/static/images/blankNewsPaper.png").newspaper