body{
  background: #007399;
}

.username{
  text-align:center;
  margin-top:15vh;
  font-size:6vw;
}

.username input{
  width:80vw;
  height:20vw;
  border-radius:20px 20px;
  border-style:none;
}

.coolBtn{
  width:20vw;
  height:10vw;
  margin-top:10px;
  border-radius:10px;
  font-size:4vw;
  background-color:rgba(0,0,0,0.0);
  border-style:solid;
  border-width:5px;
  color:#FFF;
  border-color:#FFF;
  text-align:center;
  cursor:pointer;
}

.host{
  color:#FFF;
  text-align:center;
}

.host{
  font-family: 'Oswald', sans-serif;
}

.hostHeader h1{
  font-size:15vw;
  margin-bottom:-1vw;
  margin-top:-1vw;
}

.hostHeader p{
    font-size:2.5vw;
}

.playerList{
  background-color: #266073;
  height:50vh;
  width:80vw;
  border-radius:15px;
  margin:0 auto;
}

.playerList ul{
  list-style:none;
  font-size:3vw;
  margin-left:-40px;
}

.progressBar{
  background-color:#266073;
  width:95vw;
  height:10vw;
  margin:0 auto;
  border-radius:5px 5px;
  margin-top:11vh;
  
}

.progressBar img{
  width:10vw;
  position:absolute;
  text-align:left;
}

.noNukeImg{
  margin-left:-45%;
}

.explosion{
  margin-left:35%;
}

.questionPage .bar{
  position:absolute;
}

.bar{
  width:60vw;
  background-color:#FFF;
  height:8vw;
  margin-top:1vw;
  margin-left:18%;
  border-radius:5px 5px;
}

.progress{
  height:6vw;
  width:50%;
  background-color:#00b300;
  margin-top:1vw;
  margin-left:1vw;
  border-radius:5px 5px;
}

.results .progress{
  position:absolute;
  height:13vh;
  width:77.5%;
}

.results .bar{
  width:80vw;
  margin-left:10%;
  height:15vh;
}

.answers{
  text-align:left;
  margin-top:-12vh;
}

.answers div{
  width: 95vw;
  height:12vh;
  border-radius:15px;
  margin: 0 auto;
}

.answers div h2{
  margin-left:1vw;
  font-size:4vw;
}

.answer1{
  background-color: #e60000;
}
.answer2{
  background-color:#00b300;
}
.answer3{
  background-color:#6699ff;
}
.answer4{
  background-color:#e6005c;
}

.question{
  font-size:7vw;
  margin-bottom:13vh;
  margin-top:-7vh;
}

.timer{
  position:absolute;
  margin-top:-2vh;
  margin-left:0vw;
  font-size:7vw;
}

.waiting{
  text-align:center;
  font-size:10vw;
  margin-top:30vh;
  color:#FFF;
  font-family: 'Oswald', sans-serif;
}

.subMSG{
  font-size:5vw;
  margin-top:-5vw;
}

.gameButtons button{
  width:45vw;
  height:45vh;
  margin-right:2vw;
  margin-bottom:2vh;
  border-style:none;
  border-radius:15px;
  font-family: 'Oswald', sans-serif;
  font-size:20vw;
  color:#FFF;
  cursor:pointer;
}

.gameButtons{
  margin-left:2.5vw;
  margin-top:2.5vh;
}

.results{
  text-align:center;
  color:#FFF;
}

.results h1{
  font-family: 'Oswald', sans-serif;
  font-size:10vw;
  margin-top:-1vh;
}

.correct{
  background-color:#00FF00;
}

@media(max-width:1100px){
  .gameButtons button{
    width:40vw;
    height:40vh;
    margin-right:4vw;
    margin-bottom:4vh;
  }
  .gameButtons{
    margin-left:5vw;
    margin-top:5vh;
  }
}

@media(max-width:700px){
  .timer{
    margin-top:-7vh;
  }
}

@media(max-width:500px){
  .timer{
    margin-top:-5vh;
  }
}

@media(min-width:1200px){
  .hostHeader p{
    font-size:1vw;
  }
  .hostHeader h1{
    font-size:10vw;
  }
  .coolBtn{
    width:10vw;
    height:5vw;
    font-size:2vw;
  }
  .playerList ul{
    font-size:1.5vw;
  }
  .progressBar{
    height:5vw;
  }
  .progressBar img{
        width:5vw;
  }
  .bar{
    height:4vw;
    margin-top:0.5vw;
  }
  .progress{
    height:3vw;
    margin-top:0.5vw;
    margin-left:0.5vw;
  }
  .question{
    font-size:4vw;
  }
  .answers div h2{
    font-size:2.5vw;
  }
  .waiting{
    font-size:5vw;
  }
  .subMSG{
    font-size:2.5vw;
  }
  .gameButtons button{
    font-size:10vw;
  }
  .timer{
    font-size:4vw;
  }
  .results h1{
    font-size:5vw;
  }
}

@media(min-width:1700px){
  .progressBar{
    margin-top:7.5vh;
  }
  .question{
    font-size:3vw;
  }
  .timer{
    font-size:3vw;
  }
}

