head
    title nuclearDevelopment
    link(href='https://fonts.googleapis.com/css?family=Oswald',rel='stylesheet',type='text/css')
    link(rel="stylesheet",href="/static/css/style.css",type="text/css")